.taskItmem {
    position: relative;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        text-align: center;
        min-width: 100px;
        height: 90px;
        border-radius: 4px;
        border: 1px solid var(--light-grey03);
        transition: all 0.2s ease-out;
        overflow: hidden;
    
        &:hover {
            cursor: pointer;
            background-color: var(--light-grey);
        }
        &:active {
            cursor: grab;
        }
    
        &:active {
            border: 5px solid var(--light-grey02);
        }
    
        .title {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.3;
            
            @media screen and (max-width: 1920px) {
                font-size: 14px;
            }
        }
    }
}

.dark:hover {
    color: var(--black);
    border: 1px solid var(--dark-grey);
}