.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .btnGroup {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        .button {
            height: 34px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16.41px;
            padding: 8px;
            border-radius: 8px;
            border: none;
            outline: none;
            color: var(--white);
            transition: all 0.2s ease-out;
            font-family: inherit;
    
            &:hover {
                cursor: pointer;
                background-color: var(--blue-hover);            
            }
        }

        .button.dark {
            background-color: var(--white);
            color: var(--black01);

            &:hover {
                background-color: var(--light-grey);
                color: var(--black);
            }
        }
    
        .arrow, .today {
            background-color: var(--black01);
        }

        .arrow:hover, .today:hover {
            background-color: var(--black);
        }
    
        .arrow {
            width: 35px;
        }
    
        .today {
            width: 90px;
        }
    }
    

    .addTask {
        padding-left: 16px;
        padding-right: 16px;
        width: 160px;
        font-weight: 500;
        color: var(--white);
        background-color: var(--blue);
        margin-left: auto;
        transition: all 0.2s ease-out;

        &:hover {
            background-color: var(--blue-hover);
        }
        

        @media screen and (max-width: 399px) {
            font-size: 10px;
        }
    }
}