:root {
    --transparent: transparent;
    --transparent-modal: #00000018;
    --white: #fff;

    --grey: #222;
    --light-grey: #EEE;
    --light-grey01: #0b0b0b;
    --light-grey02: rgba(219, 219, 219, 0.9);
    --light-grey03: #c0c0c0;
    --grey-transparent: #F9F9F9CC
    --dark-grey: #111111;
    
    --blue: #007AFF;
    --blue-hover: #0057b4;
    
    --black: #000;
    --black01: #323232;
    --light-black: #1b1b1b;

    --orange: orange;
    --red: #982a2a;
    --red-hover: #5e0e0e;
}