.pageWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 204, 204);
}

.dark {
    background-color: rgb(59, 57, 57);

}