.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    max-width: 360px;
    padding: 16px 16px 48px;
    border-radius: 16px;
    background-color: var(--white);

    @media screen and (max-width: 399px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .title {
        width: 100%;
        color: var(--black01);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        @media screen and (max-width: 399px) {
            flex-direction: column;
        }
        
        .button {
            padding: 8px 32px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.4;
            border: none;
            border-radius: 8px;
            color: var(--white);
            background-color: var(--blue);
            transition: all 0.2s ease-out;
            
            &:hover {
                cursor: pointer;
            }

            @media screen and (max-width: 399px) {
                width: 100%;
            }
        }

        .cancel {
            border: 1px solid var(--black01);
            background-color: var(--transparent);
            color: var(--black01);

            &:hover {
                background-color: var(--light-grey);
            }
        }

        .create:hover {
            background-color: var(--blue-hover);
        }
    }
}