.form {
    position: relative;
    flex-basis: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    border: 2px solid #fff;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    background-color: rgb(152, 152, 233);
    color: var(--white);

    @media screen and (max-width: 529px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .legend {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        
    }

    .fieldset {
        width: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        outline: none;

        .inputWrapper {
            font-weight: 500;
            font-size: 14px;
            line-height: 16.41px;
            position: relative;

            .label {
                display: block;
                margin-bottom: 8px;
            }
    
            .input {
                width: 100%;
                padding: 8px;
                border-radius: 0.5em;
                border: 1px solid var(--light-grey01);
                outline: none;
            }

            .error {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: var(--red);
                position: absolute;
                top: 100%;
                left: 8px;
            }
            .errorDark {
                color: var(--orange);
            }
        }

        .submitButton {
            width: 70px;
            padding: 8px;
            border: none;
            outline: none;
            border-radius: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 18.75px;
            color: var(--blue);
            align-self: flex-end;
            transition: all 0.2s ease-out;

            &:hover {
                cursor: pointer;
                color: var(--blue-hover);
            }

        }
    }
}


.formDark {
    background-color: #120b25;
}

.toggleTheme {
    position: absolute;
    top: 1%;
    right: 1%;
}