.pageWrapper {
    padding: 20px;
    
    .homeContainer {    
        min-height: calc(100vh - 50px);
        padding: 14px 14px 24px;
        display: flex;
        flex-direction: column;
        gap: 9px;
        //background-color: var(--white);
    }
}